version: "3.8"
services:
  web:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
      - ../var/www/html:/var/www/html
      - ../etc/cyths/config.json:/var/www/html/cyths/data/config.json
      - ../data/csv:/var/www/html/cyths/data/csv
    links:
      - php
  php:
    image: php:7-fpm
    volumes:
       - ../var/www/html:/var/www/html
