/*.bootstrap-switch-red
{
	color:white;
	background: #FF4000;
}
.bootstrap-switch-green
{
	color:white;
	background: #04B431;
}*/

/* Remove button border halo */
.bootstrap-switch.bootstrap-switch-focused
{
	border-color: #cacaca;
    outline: 0 !important;
    border-radius: 0 !important;   
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Display text in lowercase */
.lowercase
{
	text-transform: lowercase;
}

/*****************/
/* Manage footer */
/*****************/
html, body
{
	height: 100%;
}

#content
{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px;
}

#footer
{
	height: 50px;
	background-color: #FFCCCC;
}

