/*.bootstrap-switch-red
{
	color:white;
	background: #FF4000;
}
.bootstrap-switch-green
{
	color:white;
	background: #04B431;
}*/

.sensor-data-outdated-level-1, .sensor-data-outdated-level-1:hover {
	color: #fdd835;
}

.sensor-data-outdated-level-2, .sensor-data-outdated-level-2:hover {
	color: #ffb300;
}

.sensor-data-outdated-level-3, .sensor-data-outdated-level-3:hover {
	color: #fb8c00;
}

.sensor-data-outdated-level-4, .sensor-data-outdated-level-4:hover {
	color: #f4511e;
}

.sensor-data-outdated-level-last, .sensor-data-outdated-level-last:hover {
	color: #bf360c;
}

#delimiter {
	border-bottom: 1px solid #e7e7e7;
}

/* Remove button border halo */
.bootstrap-switch.bootstrap-switch-focused
{
	border-color: #cacaca;
    outline: 0 !important;
    border-radius: 0 !important;   
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Display text in lowercase */
.lowercase
{
	text-transform: lowercase;
}

/* Battery indicator colors */
.battery-ok
{
	color: green;
}
.battery-warning
{
	color: orange;
}
.battery-alarm
{
	color: red;
}

/*********************/
/* Crontab condition */
/*********************/
.crontab-condition-disabled
{
	color: #888;
}

/*****************/
/* Manage footer */
/*****************/
html, body
{
	height: 100%;
}

#content
{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px;
}

#footer
{
	height: 50px;
	background-color: #FFCCCC;
}
