/*********************/
/* Manage admin page */
/*********************/
.association,
.association:hover,
.dissociationStep1,
.dissociationStep1:hover,
.dissociationStep2,
.dissociationStep2:hover
{
	width: 100%;
	color: white;
}

.association
{
	background-color: #BDECB6;
	border-color: #BDECB6;
}

.dissociationStep1
{
	background-color: #FFD394;
	border-color: #FFD394;
}

.dissociationStep2
{
	background-color: #FF9994;
	border-color: #FF9994;
}
