[Unit]
Description=CYTHS receiver
Before=network.target

[Service]
EnvironmentFile=-/etc/default/cyths-receiver
ExecStart=/usr/local/bin/cyths-receiver $CYTHS_RECEIVER_OPTS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target

